extends layout

block content
  h1= title
  p Welcome to #{title}
  div(class="fb-messengermessageus" 
  messenger_app_id="1630810657238132" 
  page_id="1630810657238132" 
  color="blue" 
  size="standard")

block footer
